  body {

   color: #faf4f4; 
  }
  .jumbotron {
    background-image: url("../images/nasa.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
/*
  input[type="text"], textarea {

    background-color : #646262; 
  
  }

  .list-group {
    background-color: rgb(110, 109, 109);
}*/

